/*------------------
Responsive Media Query Variables
------------------*/
/*------------------
Colors
------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

i {
  margin: 0;
  padding: 0;
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #111111;
}

h2 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: #111111;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.chat {
  position: fixed;
  top: 80%;
  right: 0;
}
.chat a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.chat a i {
  font-size: 30px;
  color: #fff;
}
.chat .whatsapp {
  background-color: #0CBD09;
}
.chat .facebook {
  background-color: #0B66FF;
}

.slider-btn button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  padding: 5px;
}
.slider-btn button i {
  color: #fff;
  font-size: 26px;
}
.slider-btn .hero-slider-prev-button {
  left: 20px;
}
.slider-btn .hero-slider-next-button {
  right: 20px;
}

.slider-btn-client button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  padding: 5px;
}
.slider-btn-client button i {
  color: var(--primary-color, #E51B2B);
  font-size: 26px;
}
.slider-btn-client .client-slider-prev-button {
  left: 20px;
}
.slider-btn-client .client-slider-next-button {
  right: 20px;
}

.primary-button {
  background: var(--primary-color, #E51B2B);
  padding: 8px 20px;
  color: #fff;
  border-radius: 4px;
}

.main {
  background: url("/public/images/1200.png");
}

.logo {
  width: 164px;
  height: auto;
}
@media (max-width: 767px) {
  .logo {
    width: 80px;
    height: auto;
  }
}

.mobile-menu {
  max-width: 95%;
  background-color: var(--primary-color, #E51B2B);
}
.mobile-menu button {
  --bs-btn-close-bg: unset;
  --bs-btn-close-opacity: unset;
}
.mobile-menu button i {
  color: #fff;
  font-size: 26px;
}
.mobile-menu a, .mobile-menu i, .mobile-menu h4 {
  color: #fff;
}
.mobile-menu h4 {
  font-size: 18px;
}

.top-bar-text {
  font-size: 22px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: var(--primary-color, #E51B2B);
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .top-bar-text {
    display: none;
  }
}
.top-bar .menu-btn i {
  font-size: 30px;
  color: var(--primary-color, #E51B2B);
}

.navbar {
  background: var(--primary-color, #E51B2B);
}
.navbar .nav-link {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 10px;
  font-size: 18px;
}

footer {
  padding-top: 50px;
}
footer h3 {
  font-size: 22px;
}
footer .info p {
  color: var(--text-dark, #111111);
  font-size: 16px;
}
footer .info p a {
  font-size: 18px;
  font-weight: 500;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .links a:hover {
  color: var(--primary-color, #E51B2B);
}

.widget i {
  font-size: 20px;
  transition: all ease-in-out 0.4s;
}
.widget h4 {
  color: var(--text-dark, #111111);
  font-size: 20px;
  font-weight: 500;
  transition: all ease-in-out 0.4s;
}
.widget:hover i {
  color: var(--primary-color, #E51B2B);
}
.widget:hover h4 {
  color: var(--primary-color, #E51B2B);
}

.hero-items .hero-item {
  width: 100%;
  height: 75vh;
}
@media (max-width: 767px) {
  .hero-items .hero-item {
    height: 40vh;
  }
}
.hero-items .hero-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  border-radius: 30px;
  transition: all ease-in-out 0.4s;
  margin-bottom: 40px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.card-img {
  overflow: hidden;
  border-radius: 6px;
}
.card-img img {
  transition: all ease-in-out 0.4s;
  width: 100%;
  height: 220px !important;
  object-fit: cover;
  border-radius: 20px;
}
.card-link {
  background: var(--primary-color, #E51B2B);
  padding: 8px 0;
  font-size: 16px;
  font-size: 500;
  width: 60%;
  transition: all 0.5s;
  color: #fff;
  border-radius: 24px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card:hover .card-link {
  width: 100%;
}
.card h5 a {
  font-size: 18px;
  letter-spacing: -0.5px;
}
.card p {
  font-size: 15px;
}

.client {
  width: 100%;
  border: 1px solid var(--dark-gray, #ebebeb);
  display: inline-block;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}
.client img {
  width: 100px;
  height: 100px;
  margin-inline: auto;
}

.product-detail .container {
  max-width: 700px;
  text-align: center;
}
.product-detail img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.product-detail p {
  font-size: 18px;
  color: var(--light-black, #333333);
  text-align: justify;
}

.our-team .card {
  padding: 10px;
  border: 1px solid transparent;
}
.our-team .card:hover {
  border: 1px solid var(--gray-color, #f1f1f1);
}
.our-team-text {
  max-width: 800px;
  font-size: 18px;
  letter-spacing: 0.4px;
}
.our-team img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  height: 100%;
  background-color: black;
}

.dashboard-content {
  margin: 20px 20px 0px 290px;
}

.services-card {
  border-radius: 30px;
}
.services-card-icon {
  padding: 20px;
}
.services-card-icon img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.product-all {
  transition: all ease-in-out 0.4s;
  color: #000;
  position: relative;
  padding: 6px 20px;
}
.product-all::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: var(--primary-color, #E51B2B);
  z-index: -1;
  transition: all 0.4s;
  border-radius: 999px;
}
.product-all:hover {
  color: #fff;
}
.product-all:hover::before {
  height: 100%;
}

.product-section {
  background-image: url("../images/bg-1.jpeg");
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-section-all {
  background-image: url("../images/bg-1.jpeg");
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.services-section {
  background-image: url("../images/bg-2.jpeg");
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-section-all {
  background-image: url("../images/bg-2.jpeg");
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.client-brand {
  background-image: url("../images/bg-3.jpeg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.client-section-all {
  background-image: url("../images/bg-3.jpeg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-section {
  background-image: url("../images/bg-4.jpeg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-section {
  background-image: url("../images/bg-4.jpeg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*# sourceMappingURL=style.css.map */
